{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  {% if diversion == 1 %}
  <variant-radios
    class="no-js-hidden"
    data-section="{{ section.id }}"
    data-url="{{ product.url }}"
    {{ block.shopify_attributes }}
  >
    {%- for option in product.options_with_values -%}
      <fieldset class="js product-form__input {% unless forloop.first %}hidden{% endunless %}">
        <legend class="form__label">{{ option.name }}</legend>
        {%- for value in option.values -%}
          <input
            type="radio"
            id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}"
            name="{{ option.name }}"
            value="{{ value | escape }}"
            form="{{ product_form_id }}"
            data-handle="trigger-input"
            {% if option.selected_value == value %}
              checked
            {% endif %}
          >
          <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">
            <img class="variant_radio_images_case variant_radio_images_case-{{ forloop.index0 }}" src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/b12b64250ac77600d83061a5f41ea82f_1.png?v=1714402829">
            <span class="inside_label_text inside_label_text-{{ forloop.index0 }}">{{ value }}</span>
          </label>
        {%- endfor -%}
      </fieldset>
    {%- endfor -%}
    <script type="application/json">
      {{ product.variants | json }}
    </script>
  </variant-radios>
  {% else %}
  <variant-selects
    class="no-js-hidden"
    data-section="{{ section.id }}"
    data-url="{{ product.url }}"
    {{ block.shopify_attributes }}
    data-update-url="false"
  >
    {%- for option in product.options_with_values -%}
      <div class="product-form__input product-form__input--dropdown {% if forloop.first %}hidden{% endif %}">
        <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
          {{ option.name }}
        </label>
        <div class="select">
          <select
            id="Option-{{ section.id }}-{{ forloop.index0 }}"
            class="select__select"
            name="options[{{ option.name | escape }}]"
            form="{{ product_form_id }}"
            data-handle="trigger-select"
          >
            {%- for value in option.values -%}
              <option
                value="{{ value | escape }}"
                {% if option.selected_value == value %}
                  selected="selected"
                {% endif %}
              >
                {{ value }}
              </option>
            {%- endfor -%}
          </select>
          {% render 'icon-caret' %}
        </div>
      </div>
    {%- endfor -%}

    <script type="application/json">
      {{ product.variants | json }}
    </script>
  </variant-selects>
  {% endif %}
{%- endunless -%}

<noscript class="product-form__noscript-wrapper-{{ section.id }}">
  <div class="product-form__input{% if product.has_only_default_variant %} hidden{% endif %}">
    <label class="form__label" for="Variants-{{ section.id }}">{{ 'products.product.product_variants' | t }}</label>
    <div class="select">
      <select name="id" id="Variants-{{ section.id }}" class="select__select" form="{{ product_form_id }}">
        {%- for variant in product.variants -%}
          <option
            {% if variant == product.selected_or_first_available_variant %}
              selected="selected"
            {% endif %}
            {% if variant.available == false %}
              disabled
            {% endif %}
            value="{{ variant.id }}"
          >
            {{ variant.title }}
            {%- if variant.available == false %} - {{ 'products.product.sold_out' | t }}{% endif %}
            - {{ variant.price | money | strip_html }}
          </option>
        {%- endfor -%}
      </select>
      {% render 'icon-caret' %}
    </div>
  </div>
</noscript>

{% comment %} this script is written for working the variant select functionality fine  {% endcomment %}
<script>
  for (let i = 0; i < 3; i++) {
    $('input[data-handle="trigger-input"][name="Choose your color"]').click((e) => {
      const value = e.currentTarget.value;
      $('select[data-handle="trigger-select"][name="options[Choose your color]"]').val(value);
    });
  }
  $('select[data-handle="trigger-select"][name="options[Choose your shipping window]"]').change((e) => {
    const value = e.currentTarget.value;
    $(`input[type="radio"][name="Choose your shipping window"][value="${value}"]`).trigger('click');
  });
</script>
