{{ 'product_couture.css' | asset_url | stylesheet_tag }}
{{ 'product_couture_responsive.css' | asset_url | stylesheet_tag }}
{% comment %}
  <div class="product_couture_section_9_container">
    <div class="prd_ctr_sec9_insideGrid_wrapper">
      <div class="prd_ctr_sec9_grid1">
        <img
          class="prd_ctr_sec9_image1_normal"
          src="{{ section.settings.sec9_image1 | image_url }}"
          style="visibility:hidden;"
        >
        <img class="prd_ctr_sec9_image1_normal" src="{{ section.settings.sec9_image2 | image_url }}">
        <img class="prd_ctr_sec9_image1_normal" src="{{ section.settings.sec9_image3 | image_url }}">
      </div>
      <div class="prd_ctr_sec9_grid1">
        <img class="prd_ctr_sec9_image1" src="{{ section.settings.sec9_image4 | image_url }}">
        <img class="prd_ctr_sec9_image1" src="{{ section.settings.sec9_image5 | image_url }}" style="visibility:hidden">
        <img
          class="prd_ctr_sec9_image1_normal"
          src="{{ section.settings.sec9_image6 | image_url }}"
        >
      </div>
      <div class="prd_ctr_sec9_grid1">
        <div class="prd_ctr_sec9_aboveDiv">
          <img class="prd_ctr_sec9_imageBetween" src="{{ section.settings.sec9_image7 | image_url }}">
          <img class="prd_ctr_sec9_imageBetween" src="{{ section.settings.sec9_image8 | image_url }}">
        </div>
        <div class="inbetweenstaysDiv">
          <div class="inside_Text">
            But it didn’t stop there. In the unending<br>
            quest for novelty, art kept evolving.
          </div>
        </div>
        <div class="prd_ctr_sec9_belowDiv">
          <img class="prd_ctr_sec9_imageBetween" src="{{ section.settings.sec9_image9 | image_url }}">
        </div>
      </div>
      <div class="prd_ctr_sec9_grid1">
        <img
          class="prd_ctr_sec9_imageBetween"
          src="{{ section.settings.sec9_image9 | image_url }}"
          style="visibility:hidden"
        >
        <img class="prd_ctr_sec9_imageBetween" src="{{ section.settings.image_12 | image_url }}">
        <img class="prd_ctr_sec9_imageBetween" src="{{ section.settings.image_13 | image_url }}">
      </div>
    </div>
  </div>
{% endcomment %}
<div class="product_couture_section_9_container">
  <div class="prd_ctr_sec9_insideGrid_wrapper">
    <div
      class="prd_ctr_sec9_grid1"
      style="    display: none;"
    >
      <img
        class="prd_ctr_sec9_image1_normal"
        src="Liquid error (sections/product_couture_section_9 line 9): invalid url input"
        style="visibility:hidden;"
      >
      <img class="prd_ctr_sec9_image1_normal" src="//www.charcoal.inc/cdn/shop/files/Mask_group_34.png?v=1709791330">
      <img class="prd_ctr_sec9_image1_normal" src="//www.charcoal.inc/cdn/shop/files/Mask_group_35.png?v=1709791330">
    </div>
    <div class="prd_ctr_sec9_grid1" style="align-items: flex-end;overflow: hidden;">
      <img
        class="prd_ctr_sec9_image1"
        src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Pablo_Picasso_-_1939_T_te_de_femme_1.jpg?v=1712792197"
      >
      <img
        class="prd_ctr_sec9_image1"
        src="Liquid error (sections/product_couture_section_9 line 17): invalid url input"
        style="visibility:hidden"
      >
      <img class="prd_ctr_sec9_image1_normal" src="//www.charcoal.inc/cdn/shop/files/Mask_group_37.png?v=1709791330">
      <img
        class="prd_ctr_sec9_image1_normal"
        src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/four.gif?v=1712787933"
        style="
          width: 80%;
          height: 80%;
          transform: scale(1.02);
          transform-origin: left;
        "
      >
    </div>
    <div class="prd_ctr_sec9_grid1">
      <div class="prd_ctr_sec9_aboveDiv">
        <img
          class="prd_ctr_sec9_imageBetween"
          src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/19_Unmissable_Museum_Shows_to_See_in_Europe_in_2019_From_da_Vinci_at_the_Louvre_to_David_Hockney_Meets_Van_Gogh.jpg?v=1712792197"
        >
        <img
          class="prd_ctr_sec9_imageBetween"
          src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Jean_Metzinger___Nu_couche___MutualArt.jpg?v=1712792197"
        >
      </div>
      <div class="inbetweenstaysDiv">
        <div class="inside_Text">
          But it didn’t stop there. In the unending<br>
          quest for novelty, art kept evolving.
        </div>
      </div>
      <div class="prd_ctr_sec9_belowDiv">
        <img
          class="prd_ctr_sec9_imageBetween"
          src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/aca642d3-b284-49b1-b3a4-6018ba34114b.jpg?v=1712792197"
        >
      </div>
    </div>
    <div class="prd_ctr_sec9_grid1">
      <img
        class="prd_ctr_sec9_imageBetween"
        src="//www.charcoal.inc/cdn/shop/files/Mask_group_40.png?v=1709791330"
        style="visibility:hidden"
      >
      <img
        class="prd_ctr_sec9_imageBetween"
        src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/10_Most_Famous_Paintings_by_Pablo_Picasso.jpg?v=1712792197"
      >
      <img
        class="prd_ctr_sec9_imageBetween"
        src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Evren_Temel_cubism_art_paintings_with_oil_and_acrylic_on_Trendy_Art_Ideas.jpg?v=1712792197"
      >
    </div>
  </div>
</div>

<div class="product_couture_section_9_container_mobile">
  <div class="prd_ctr_top_sec9">
    <div class="flex_1_sec9">
      <img class="prd_ctr_sec9_image1" src="{{ section.settings.image_mobile_1 | image_url }}">
      <img class="prd_ctr_sec9_image1" src="{{ section.settings.image_mobile_2 | image_url }}">
    </div>
    <div
      class="flex_2_sec9"
      style="    overflow: hidden;"
    >
      <img
        class="prd_ctr_sec9_image_biggest_flex"
        src="//www.charcoal.inc/cdn/shop/files/forth169.gif?v=1712815356"
        style="
          transform: scale(1.0);
          transform-origin: left top;
        "
      >
    </div>
  </div>
  <div class="prd_ctr_bottom_sec9">
    But it didn’t stop there. In the<br>
    unending quest for novelty, art kept evolving.
  </div>
</div>

<div class="prd_ctr_sec9_middle_text">
  <div class="actual_text_div">
    This &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;movement&nbsp;&nbsp; &nbsp;&nbsp;towards&nbsp;&nbsp;&nbsp; &nbsp;increased<br>
    abstraction happened because artists were<br>
    constantly &nbsp;driven &nbsp;to create novelty within<br>
    the confines of this box. By being forced to<br>
    innovate for centuries, on the same limited<br>
    medium,&nbsp;&nbsp;with&nbsp;&nbsp; the &nbsp;&nbsp;same &nbsp;&nbsp;tools, &nbsp;&nbsp;artists<br>
    inevitably moved to the bizarre to keep the<br>
    novelty&nbsp;&nbsp; alive.&nbsp;&nbsp; This&nbsp;&nbsp; has &nbsp;&nbsp;created &nbsp;&nbsp;a self-<br>
    perpetuating,&nbsp;&nbsp;&nbsp; self-contained&nbsp;&nbsp;&nbsp; world&nbsp;&nbsp; of<br>
    critics, connoisseurs, and artists that’s far<br>
    removed from the rest of the world.
  </div>
  <div class="actual_text_div_mobile" style="display:none;">
    This movement towards increased<br>
    abstraction happened because artists<br>
    were constantly driven to create<br>
    novelty within the confines of this box.<br>
    By being forced to innovate for<br>
    centuries, on the same limited medium,<br>
    with the same tools, artists inevitably<br>
    moved to the bizarre to keep the<br>
    novelty alive. This has created a self-<br>
    perpetuating, self-contained world of<br>
    critics, connoisseurs, and artists that’s<br>
    far removed from the rest of the world.
  </div>
</div>

<div class="prd_ctr_sec10_container_tricolor">
  <div class="prd_ctr_sec10_wrapperdiv">
    <div class="prd_ctr_sec10_left_div_wrapper">
      <p class="top_para_sec10">
        The <br>
        same thing <br>
        is happening<br>
        with fashion.
      </p>
      <p class="bottom_para_sec10">
        An Ostrich or an alligator skin bag is like<br>
        abstract art. They exist because the canvas<br>
        and tools of fashion are limited. With<br>
        limited advancements in materials and<br>
        manufacturing techniques, fashion products<br>
        are primitive and have to rely on skin-deep<br>
        novelty to remain relevant.
      </p>
    </div>
    <div class="prd_ctr_sec10_right_div_wrapper">
      <img
        class="prd_ctr_sec10_imageright"
        src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/3_cloth_final.png?v=1712819507"
      >
    </div>
  </div>
  <div class="prd_ctr_sec10_below_text_centerd" style="font-weight:900">
    <span style="font-weight:300">How do we change this?</span><br>
    <br>
    How do we bring in innovation, make it more<br>
    useful and practical, and yet not lose the allure<br>
    and beauty, or even the novelty of fashion?
  </div>
</div>
<div class="prd_ctr_sec10_container_tricolor_mobile">
  <div class="prd_ctr-sec10_div1">
    The same thing is<br>
    happening with<br>
    fashion.
  </div>
  <div class="prd_ctr-sec10_div2">
    <img
      class="prd_ctr_sec10_imageright_mobile"
      src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/3_cloth_final.png?v=1712819507"
    >
  </div>
  <div class="prd_ctr-sec10_div3">
    An Ostrich or an alligator skin bag<br>
    is like abstract art. They exist<br>
    because the canvas and tools of<br>
    fashion are limited. With limited<br>
    advancements in materials and<br>
    manufacturing techniques,<br>
    fashion products are primitive<br>
    and have to rely on skin-deep<br>
    novelty to remain relevant.
  </div>
  <div class="prd_ctr-sec10_div4">
    How do we change this? <br>
    <br>
    <b
      >How do we bring in innovation,<br>
      make&nbsp;&nbsp; &nbsp;it&nbsp;&nbsp; more &nbsp;&nbsp;useful &nbsp;&nbsp;&nbsp;and<br>
      practical, and yet not lose the<br>
      allure and beauty, or even the<br>
      novelty of fashion?</b
    >
  </div>
</div>
{% schema %}
{
"name": "product_couture_section_9",
"settings": [
{
"type": "html",
"id": "insideGridText",
"label": "Text"
},
{
"type": "image_picker",
"id": "sec9_image1",
"label": "Image 1"
},
{
"type": "image_picker",
"id": "sec9_image2",
"label": "Image 2"
},
{
"type": "image_picker",
"id": "sec9_image3",
"label": "Image 3"
},
{
"type": "image_picker",
"id": "sec9_image4",
"label": "Image 4"
},
{
"type": "image_picker",
"id": "sec9_image5",
"label": "Image 5"
},
{
"type": "image_picker",
"id": "sec9_image6",
"label": "Image 6"
},
{
"type": "image_picker",
"id": "sec9_image7",
"label": "Image 7"
},
{
"type": "image_picker",
"id": "sec9_image8",
"label": "Image 8"
},
{
"type": "image_picker",
"id": "sec9_image9",
"label": "Image 9"
},
{
"type": "image_picker",
"id": "sec9_image10",
"label": "Image 10"
},
{
"type": "image_picker",
"id": "sec9_image11",
"label": "Image 11"
},
{
"type": "image_picker",
"id": "image_12",
"label": "Image 12"
},
{
"type": "image_picker",
"id": "image_13",
"label": "Image 13"
},

{
"type": "image_picker",
"id": "image_mobile_1",
"label": "Image mobile 1"
},
{
"type": "image_picker",
"id": "image_mobile_2",
"label": "Image mobile 2"
},
{
"type": "image_picker",
"id": "image_mobile_3",
"label": "Image mobile 3"
}
],
"presets": [
{
"name": "product_couture_section_9"
}
]
}
{% endschema %}
