{{ 'product_couture.css' | asset_url | stylesheet_tag }}
{{ 'product_couture_responsive.css' | asset_url | stylesheet_tag }}

<div class="product_couture_section_8_container">
  <!--
    <div class="prd_ctr_sec8_insideGrid_wrapper">
      <div class="prd_ctr_sec8_grid1">
        <img
          class="prd_ctr_sec6_image1_normal"
          src="{{ section.settings.sec8_image1 | image_url }}"
          style="visibility:hidden;"
        >
        <img class="prd_ctr_sec6_image1_normal" src="{{ section.settings.sec8_image2 | image_url }}">
        <img class="prd_ctr_sec6_image1_normal" src="//www.charcoal.inc/cdn/shop/files/Mask_group_26.png?v=1709728103">
      </div>
      <div class="prd_ctr_sec8_grid1">
        <img class="prd_ctr_sec6_image1_normal" src="{{ section.settings.sec8_image4 | image_url }}">
        <img class="prd_ctr_sec6_image1_normal" src="{{ section.settings.sec8_image5 | image_url }}">
        <img
          class="prd_ctr_sec6_image1_normal"
          src="{{ section.settings.sec8_image6 | image_url }}"
          style="visibility:hidden;"
        >
      </div>
      <div class="prd_ctr_sec8_grid1">
        <div class="prd_ctr_sec8_aboveText">
          <div class="insideaboveText">
            But when both the real and the<br>
            imaginary worlds have been<br>
            thoroughly explored, what<br>
            remained for the artist? How<br>
            could they break new ground?
          </div>
          <img class="prd_ctr_sec6_imageBetween" src="{{ section.settings.sec8_image7 | image_url }}">
        </div>
        <div class="inbetweenstaysDiv">
          <img class="prd_ctr_sec6_imageBetween_bigger" src="{{ section.settings.sec8_image8 | image_url }}">
        </div>
        <div class="prd_ctr_sec8_belowText">
          Impressionism. Paintings<br>
          that emphasized the<br>
          personal perception of<br>
          the artist.
        </div>
      </div>
      <div class="prd_ctr_sec8_grid1">
        <img class="prd_ctr_sec6_imageBetween" src="{{ section.settings.sec8_image9 | image_url }}">
        <img class="prd_ctr_sec6_imageBetween" src="{{ section.settings.sec8_image10 | image_url }}">
        <img class="prd_ctr_sec6_imageBetween" src="{{ section.settings.image_12 | image_url }}">
      </div>
    </div>
  -->
  <div class="prd_ctr_sec8_insideGrid_wrapper">
    <div
      class="prd_ctr_sec8_grid1"
      style="    display: none;"
    >
      <img
        class="prd_ctr_sec6_image1_normal"
        src="Liquid error (sections/product_couture_section_8 line 9): invalid url input"
        style="visibility:hidden;"
      >
      <img class="prd_ctr_sec6_image1_normal" src="//www.charcoal.inc/cdn/shop/files/Mask_group_25.png?v=1709728103">
      <img class="prd_ctr_sec6_image1_normal" src="//www.charcoal.inc/cdn/shop/files/Mask_group_26.png?v=1709728103">
    </div>
    <div
      class="prd_ctr_sec8_grid1"
      style="    overflow: hidden;"
    >
      <img
        class="prd_ctr_sec6_image1_normal"
        src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/30958aba-51e4-454d-9ea7-8d55e2429430.jpg?v=1712790085"
      >
      <img
        class="prd_ctr_sec6_image1_normal"
        src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Comp_3_2.gif?v=1712787933"
        style="
          width: 80%;
          height: 85%;
          transform: scale(1.05);
          transform-origin: left;
        "
      >
      <img
        class="prd_ctr_sec6_image1_normal"
        src="//www.charcoal.inc/cdn/shop/files/Mask_group_29.png?v=1709728103"
        style="visibility:hidden;display: none;"
      >
    </div>
    <div
      class="prd_ctr_sec8_grid1"
      style="
        justify-content: space-between;
        align-items: flex-start;
      "
    >
      <div class="prd_ctr_sec8_aboveText">
        <div class="insideaboveText">
          But when both the real and the<br>
          imaginary worlds have been<br>
          thoroughly explored, what<br>
          remained for the artist? How<br>
          could they break new ground?
        </div>
        <img
          class="prd_ctr_sec6_imageBetween"
          src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/DOWNLO_1.jpg?v=1712790085"
        >
      </div>
      <div
        class="inbetweenstaysDiv"
        style="margin-top: -5rem;justify-content: flex-end;align-items: flex-end;width: 100%;"
      >
        <img
          class="prd_ctr_sec6_imageBetween"
          src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/77a671f7-6832-4212-8970-a04b079db4a9.jpg?v=1712790085"
        >
      </div>
      <div
        class="prd_ctr_sec8_belowText"
        style="    justify-self: flex-end;"
      >
        Impressionism. Paintings<br>
        that emphasized the<br>
        personal perception of<br>
        the artist.
      </div>
    </div>
    <div
      class="prd_ctr_sec8_grid1"
      style="    justify-content: space-between;"
    >
      <img
        class="prd_ctr_sec6_imageBetween"
        src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Alexey_Rychkov_1968___Impressionist_painter.jpg?v=1712790084"
      >
      <img
        class="prd_ctr_sec6_imageBetween"
        src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/Edouard_Leon_Cortes_or_Edouard_Cortes_1882_-_1969_-__Place_de_la_Bastille__Edouard_Cortes_-_Paris__Part_II_Virtual_Exhibition.jpg?v=1712790085"
      >
      <img
        class="prd_ctr_sec6_imageBetween"
        src="https://cdn.shopify.com/s/files/1/0583/8756/2634/files/d531a331-c419-4387-84a6-11101ccefced.jpg?v=1712790085"
      >
    </div>
  </div>
</div>

<div class="product_couture_section_8_container_mobile">
  <div class="prd_ctr_top_sec8">
    But when both the real and the imaginary<br>
    worlds have been thoroughly explored, what<br>
    remains for the artist? How can they<br>
    break new ground?
  </div>
  <div class="prd_ctr_between_sec8">
    <div
      class="flex_1_sec8"
      style="    overflow: hidden;"
    >
      <img
        class="prd_ctr_sec8_image1"
        src="//www.charcoal.inc/cdn/shop/files/third169.gif?v=1712815355"
        style="
          transform: scale(1.01);
          transform-origin: left top;
        "
      >
    </div>
    <div class="flex_2_sec8">
      <img class="prd_ctr_sec8_image2" src="{{ section.settings.image_mobile_2 | image_url }}">
      <img class="prd_ctr_sec8_image2" src="{{ section.settings.image_mobile_3 | image_url }}">
    </div>
  </div>
  <div class="prd_ctr_bottom_sec8">
    Impressionism.<br>
    Paintings that<br>
    emphasized the<br>
    personal perception<br>
    of the artist.
  </div>
</div>

{% schema %}
{
"name": "product_couture_section_8",
"settings": [
{
"type": "html",
"id": "insideGridText",
"label": "Text"
},
{
"type": "image_picker",
"id": "sec8_image1",
"label": "Image 1"
},
{
"type": "image_picker",
"id": "sec8_image2",
"label": "Image 2"
},
{
"type": "image_picker",
"id": "sec8_image3",
"label": "Image 3"
},
{
"type": "image_picker",
"id": "sec8_image4",
"label": "Image 4"
},
{
"type": "image_picker",
"id": "sec8_image5",
"label": "Image 5"
},
{
"type": "image_picker",
"id": "sec8_image6",
"label": "Image 6"
},
{
"type": "image_picker",
"id": "sec8_image7",
"label": "Image 7"
},
{
"type": "image_picker",
"id": "sec8_image8",
"label": "Image 8"
},
{
"type": "image_picker",
"id": "sec8_image9",
"label": "Image 9"
},
{
"type": "image_picker",
"id": "sec8_image10",
"label": "Image 10"
},
{
"type": "image_picker",
"id": "sec8_image11",
"label": "Image 11"
},
{
"type": "image_picker",
"id": "image_12",
"label": "Image 12"
},
{
"type": "image_picker",
"id": "image_13",
"label": "Image 13"
},

{
"type": "image_picker",
"id": "image_mobile_1",
"label": "Image mobile 1"
},
{
"type": "image_picker",
"id": "image_mobile_2",
"label": "Image mobile 2"
},
{
"type": "image_picker",
"id": "image_mobile_3",
"label": "Image mobile 3"
}
],
"presets": [
{
"name": "product_couture_section_8"
}
]
}
{% endschema %}
