{{ 'product_couture.css' | asset_url | stylesheet_tag }}
{{ 'product_couture_responsive.css' | asset_url | stylesheet_tag }}
<style>
  #shopify-section-{{section.id}}{
     position: relative;
    z-index: 1;
    background: black;
    }
</style>

<div class="product_couture_section-2_container">
  <div class="prd_ctr_sec2_insideWrapper">
    <div class="prd_ctr_sec2_small1">{{ section.settings.bigText1 }}</div>
    <div class="prd_ctr_sec2_small1_mobile" style="display:none">
      <span class="text_name_product">PRODUCT</span>
      <span class="text_name_COUTURE">COUTURE</span>
    </div>
    <div class="prd_ctr_sec2_small2">{{ section.settings.smallText2 }}</div>
    <img class="prd_ctr_sec2_image1" src="{{ section.settings.bg_img | image_url }}">
  </div>
</div>

<div class="product_couture_section-2_bottom_container">
  <div class="letsStartHeading">{{ section.settings.lets_start_text1 }}</div>
  <div class="smallHeadingContainer">
    <div class="letsStart_small1">{{ section.settings.lets_start_text2 }}.</div>
    <div class="letsStart_small2">{{ section.settings.lets_start_text3 }}</div>
    <img class="prd_ctr_sec2_image2" src="{{ section.settings.bg_img_2 | image_url }}">
  </div>
</div>

{% schema %}
{
"name": "product_couture_section-2",
"settings": [
{
"type": "html",
"id": "bigText1",
"label": "Text-1"
},
  {
"type": "html",
"id": "smallText2",
"label": "Text-2"
},
{
"type": "image_picker",
"id": "bg_img",
"label": "Image 1"
},


{
"type": "html",
"id": "lets_start_text1",
"label": "Text-1"
},
  {
"type": "html",
"id": "lets_start_text2",
"label": "Text-2"
},
  {
"type": "html",
"id": "lets_start_text3",
"label": "Text-3"
},
{
"type": "image_picker",
"id": "bg_img_2",
"label": "Image 2"
},





{
"type": "text",
"id": "video-url",
"label": "Video Url"
},
{
"type": "image_picker",
"id": "banner_image",
"label": "Desktop Banner Image"
},
{
"type": "image_picker",
"id": "logo_image",
"label": "Logo Image"
},
{
"type": "image_picker",
"id": "cart_logo_image",
"label": "Cart Logo Image"
},
{
"type": "image_picker",
"id": "cart_nav_log",
"label": "Nav Logo Image"
},
{
"type": "image_picker",
"id": "banner_image_mobile",
"label": "Mobile Banner Image"
},
{
           "type": "text",
           "id": "video",
           "label": "Background Video"
},
{
           "type": "text",
           "id": "video_mobile",
           "label": "Background Video Mobile"
},
{
"type": "html",
"id": "title",
"label": "Heading"
},
{
"type": "text",
"id": "sub_title",
"label": "Subheading"
}
],
"presets": [
{
"name": "product_couture_section-2"
}
]
}
{% endschema %}
