<style>
    .strap_mech_container {
        padding: 20rem 10rem 3rem 10rem!important;
        background: black;
    }
      @media (min-width:767px){
      .strap_mech_container video{
        max-width: 70%;
        max-height: 70%;
      }
    }

      .image_text_container {
        position: relative;
        display: flex;
        justify-content:center;
    }
      p.first_small_text {
        color: #FFF;
        font-size: 17px;
        font-style: normal;
        font-weight: 200;
        line-height: 25.035px;
        letter-spacing: 6.933px;
        position: absolute;
        margin: 0;
        top: -6rem;
        left:0;
    }
      img.first_image {
        width: 75%;
        margin-left: 10rem;
    }
      h1.big_text {
        position: absolute;
        margin: 0;
        top: -4rem;
        color: #FFF;
        text-align: center;
        font-size: 50.683px;
        font-style: normal;
        font-weight: 900;
        line-height: 70px;
        letter-spacing: 20px;
        left:0;
    }
      .lower_div_coverd_text_btn {
        width: 85%;
    }
      .text-only-div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .text-only-div h2 {
        color: #FFF;
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 37px;
        letter-spacing: 7.883px;
        width: 100%!important;
        float: right;
        text-align:center;
    }
        .text-only-div p {
        color: #FFF;
        font-size: 17.513px;
        line-height: 30.568px;
        letter-spacing: 4.629px;
        width: 100%!important;
        text-align: right;
    }
      button.enter_email-button {
       background: white;
        border: none;
        outline: none;
        padding: 15px 30px;
        border-radius: 30px;
        color: #000;
        text-align: center;
        font-size: 12.313px;
        font-style: normal;
        font-weight: 350;
        line-height: 16.19px;
        letter-spacing: 4.502px;
        cursor: pointer;
    }

    span.strip {
        position: relative;
      font-weight:200;
    }
      span.strip:after {
        position: absolute;
      background: #c0c0c0!important;
        content: '';
        width: 100%;
        height: 120%!important;
        max-height:100%!important;
        right: 0%;
        top:0%;
    }
      span.strip-2:after{
     width: 75%;
        right: 46%;
      }
      span.strip-5:after{
        width: 55%;
        right: 54%;
      }
      span.strip-6:after{
        bottom: 0%!important;
        height: 100%;
      }
      span.strip-8:after{
     width: 50%;
        right: 8%;
      }
      span.strip-9:after{
     width: 110%;
      }
      span.strip-10:after{
     width: 100%!important;
      }
    .button_svg_wrapper {
        display: inline-flex;
        background: white;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 30px;
        padding-right: 25px;
      margin-top:4rem;
    }

    @media (max-width:767px){
      .button_svg_wrapper {
      margin-top:4rem;
      }
     .strap_mech_container {
        padding: 13rem 2rem 2rem 2rem!important;
        background: black;
    }
      p.first_small_text {
        color: #FFF;
        font-size: 12.315px;
        font-style: normal;
        font-weight: 350;
        line-height: 25.035px;
        letter-spacing: 6.933px;
        position: absolute;
        margin: 0;
        top: -6rem;
    }
      img.first_image {
        width: 100%;
        margin-left:0;
    }
      h1.big_text {
        position: absolute;
        margin: 0;
        top: -2rem;
        color: #FFF;
        text-align: center;
        font-size: 20.683px;
        font-style: normal;
        font-weight: 900;
        line-height: 38.783px;
        letter-spacing: 8.22px;
    }
      .lower_div_coverd_text_btn {
        width: 100%;
    }
      .text-only-div h2 {
        color: #FFF;
        font-size: 16.947px!important;
        font-style: normal!important;
        font-weight: 600!important;
        line-height: 24px!important;
        letter-spacing: 4.7px!important;
        width: 100%;
        float: right;
        text-align:right;
    }
      .text-only-div p {
        color: #FFF;
        font-size: 10.513px;
        line-height: 20.568px;
        letter-spacing: 1.629px;
        width: 100%;
        margin-top: 30px!important;
        margin-bottom: 50px!important;
    }
      button.enter_email-button {
        font-family: MarkPro;
        font-size: 10.313px;
        font-style: normal;
        font-weight: 350;
        line-height: 16.19px;
        letter-spacing: 4.502px;
        display: block;
        margin: auto;
        padding: 15px 20px!important;
    }
      span.strip-5:after {
        width: 57%!important;
        right: 54%!important;
    }
      span.strip-8:after {
        width: 48%!important;
        right: 8%!important;
    }

    }
    @media (max-width:370px){
     h1.big_text {
        font-size: 18.683px;
        font-style: normal;
        font-weight: 900;
        line-height: 38.783px;
        letter-spacing: 4.22px;
    }
      .text-only-div h2 {
        font-size: 14.947px;
        font-weight: 800;
        line-height: 28.431px;
        letter-spacing: 3.883px;
    }
        button.enter_email_button{
          padding: 15px 0px 15px 15px!important;
       }
    }
    @media (min-width:2000px){
      .button_svg_wrapper{
       padding-right:0!important;
     }
      p.first_small_text {
      left: 15%!important;
  }
      h1.big_text {
      left: 15%!important;
    }
  }
</style>

<div class="strap_mech_container">
  <div class="image_text_container">
    <p class="first_small_text fade_in_animation_left">NEXT GENERATION</p>
    {% if section.settings['video-url'] != blank %}
      <video
        autoplay="autoplay"
        loop="loop"
        muted="muted"
        playsinline
        <!--
        poster="{{ section.settings.poster_image | img_url: 'master' }}"
        --
      >
        >
        <source src="{{ section.settings.video-url }}" type="video/webm">
        <source src=" {{ section.settings.video-url }}" type="video/mp4">
      </video>
    {%- elsif section.settings.first_image != blank -%}
      <img class="first_image" src="{{ section.settings.first_image | image_url }}">
    {% endif %}
    <h1 class="big_text fade_in_animation_left">{{ section.settings.heading }}</h1>
  </div>

  <div class="lower_div_coverd_text_btn">
    <div class="text-only-div">
      <h2>{{ section.settings.subheading }}</h2>
      <p>{{ section.settings.paragraph }}</p>
    </div>
    <div class="button_svg_wrapper">
      <button class="enter_email-button klaviyo_form_trigger">CLICK FOR EARLY ACCESS</button>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "strap mechanism section",
  "settings": [
    {
          "type": "text",
          "id": "video-url",
          "label": "Video Url"
    },
    {
    "type": "image_picker",
    "id": "poster_image",
    "label": "Poster Image"
   },
    {
    "type": "image_picker",
    "id": "first_image",
    "label": "Image"
   },
   {
    "type": "text",
    "id": "heading",
    "label": "Heading"
   },
   {
    "type": "html",
    "id": "subheading",
    "label": "sub heading"
   },
   {
    "type": "html",
    "id": "paragraph",
    "label": "content"
   }
  ],
"presets": [
  {
    "name": "strap mechanism section"
  }
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
